
@font-face {
    font-family: "istokweb-regular";
    src: url("./IstokWeb-Regular.ttf");
}

@font-face {
    font-family: "istokweb-bold";
    src: url("./IstokWeb-Bold.ttf");
}

:root{
    --primary-color: #4E598C;
    --secondary-color: #FF8C42;
    --alternative-color: #FF3C38;

    --success: #0CCE6B; /*#157145*/
    --warning: #F8C537; /*#F56416*/
    --error: #ED254E; /*E3170A*/ /*#EF271B*/

    --white-color:#FFFFFF;

    --light-grey: #312F2F;
    --mid-grey: #22181C; /*#0F110C*/
    --dark-grey: #0C0C0C;
    --dark: #000000;

    --shadow: 0px 2px 6px 0px rgba(136, 136, 136, 0.331);

    --istokweb-regular: "istokweb-regular";
    --istokweb-bold: "istokweb-bold";
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 500;
    box-sizing: border-box;
    font-family: "istokweb-regular","Inter";
}
html, body{
    min-height: 100%;
    min-height: 100dvh;

    body{
        display: flex;
        justify-content: center;
        min-height: 100vh;
        min-height: 100dvh;
        background-color: var(--white-color);
    }
}



main{
    width: 100%;
    display: flex;
    justify-content: center;

    section{
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */

        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.pop-up-container{
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    padding: 0.5rem;
    display: none;

    .pop-up-box{
        background-color: var(--white-color);
        animation: slide-down 0.5s ease;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: var(--shadow);
    }
}



.list-container{
    /* border: 1px solid blue; */
    flex-grow: 1;

    .list-box{
    /* border: 1px solid red; */
        height: 5rem;
        display: flex;
        justify-content: start;
        border-bottom: 2px solid rgb(214, 214, 214);
        overflow: hidden;

        &:hover>.column-2{
            transition: 0.5s ease;
            transform: translateX(0);
        }

        .column-1{
            width: 100%;
            padding: 0;
            /* border: 1px solid red; */
            display: flex;
            flex-direction: column;
            min-width: 0;
            
            .info-box{
                display: flex;
                justify-content: start;
                /* border: 1px solid red; */
                align-items: center;
                padding-left: 1rem;

                flex-grow: 1;

                p{
                    /* border: 1px solid red; */
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .info-box-1{
                p,span{
                    font-weight: 800;
                }
            }
        }
    
        .column-2{
            transform: translateX(100%);
            display: flex;
            justify-items: start;
            width: 16rem;

            button{
                cursor: pointer;
                width: 100%;
                border: none;
                outline-style: none;

                &:nth-child(1){
                    background-color: var(--primary-color);
                    &:hover{
                        background-color: #3b56cc;
                    }
                }
                &:nth-child(2){
                    background-color: var(--secondary-color);
                    &:hover{
                        background-color: #fe7724;
                    }
                }
                &:nth-child(3){
                    background-color: var(--alternative-color);
                    &:hover{
                        background-color: #ff1814;
                    }
                }
            }
        }
    }
}



.floating-action-button{
    /* border: 1px solid red; */
    padding: 1rem;
    position:fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    /* padding: 12px 0.5rem; */
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;

    button{
        width: 3rem;
        border-radius: 100%;
        cursor: pointer;
        outline-style: none;
        border: none;
        background-color: var(--mid-grey);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
#fab-btn.blur-background ~ main::before{
    z-index: -1;
}

.overlay{
    display: none;
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    /* filter: blur(50px); */
    opacity: 90%;
}
#overlay-effect.toggle-overlay{
    display: block;
}

.Form{
    border: 1px solid var(--dark);
    background-color: var(--white-color);
    width: 35rem;
    height: 30rem;
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;

    form{
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        padding: 1rem;

        .row{
            /* border: 1px solid red; */
            
            &:nth-child(1){
                p{
                    /* border: 1px solid red; */
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p>span{
                    font-size: 1.5rem;
                }
            }

            &:nth-child(2){
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .input-container{
                    /* border: 1px solid red; */
                    display: flex;
                    flex-direction: column;

                    p{
                        /* border: 1px solid red; */
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p>span{
                        font-size: 1.5rem;
                    }

                    input{
                        height: 2.5rem;
                        padding-left: 1rem;
                    }
                }
            }

            &:nth-child(3){
                display: flex;
                justify-content: end;
                align-items: end;
                gap: 1rem;

                button{
                    border-radius: 6px;
                    padding: 15px 2em;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }
    }
}
#form-window.toggle-window{
    display: block;
}
.create-form-button{
    button{
        &:nth-child(1){
            background-color: #ff3b3840;
            border: 1px solid var(--alternative-color);
            color: var(--error);
            outline: none;
        }
        &:nth-child(2){
            background-color: #22181C;
            border: 1px solid var(--mid-grey);
            color: #FFFFFF;
            outline: none;
        }
    }
}






@keyframes slide-down{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0);
    }
}


/* @media(max-width:495px){
    .floating-action-button{
        left: 0;
        bottom: 0;
    }
} */
@media(max-width:600px){
    .Form{
        width: 80%;
        height: 65%;

        form{
            .row{

                &:nth-child(2){
                    .input-container{
                        p>span{
                            font-size: 16px;
                        }
                    }
                }

                &:nth-child(3){
                    button{
                        border-radius: 6px;
                        padding: 12px 1.5em;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}